# wget https://github.com/docker/compose/releases/download/v2.26.1/docker-compose-linux-x86_64
# chmod +x docker-compose-linux-x86_64 
# mv ./docker-compose-linux-x86_64 /usr/local/bin/docker-compose

name: pgo
services:
    rocky9:
        container_name: dr9
        image: dr9:latest
        restart: always
        command: /docker-dev.sh
        ports:
            - 20022:22
            - 20000-20010:20000-20010
        environment:
            TZ: Asia/Shanghai
        networks:
            - pgo-net
        volumes:
            # 把整个工作目录挂载到容器中，就可以用这个docker来编码开发了
            - ../code:/root/workspace/
            - ./docker-dev.sh:/docker-dev.sh
            - ./backend:/backend
        
    mysql:
        container_name: pgo-mysql
        image: mysql:8.0
        restart: always
        ports:
            - 23306:3306
        networks:
            - pgo-net
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_MAX_CONNECTIONS: 10240
            TZ: Asia/Shanghai
        volumes:
            - ./specific/my.cnf:/etc/mysql/conf.d/my.cnf
            - ./mysql/data:/var/lib/mysql

    redis:
        container_name: pgo-redis
        image: redis:7.2
        restart: always
        command: redis-server /usr/local/etc/redis/redis.conf
        ports:
            - 26379:6379
        networks:
            - pgo-net
        volumes:
            - ./config/redis.conf:/usr/local/etc/redis/redis.conf
            - ./redis/data:/data

    postgres:
        container_name: pgo-pgsql
        image: postgres:16
        restart: always
        ports:
            - 25432:5432
        environment:
            POSTGRES_USER: pgo
            POSTGRES_PASSWORD: pgo
        networks:
            - pgo-net
        volumes:
            - ./postgresql/data:/var/lib/postgresql/data

    rabbitmq:
        container_name: pgo-rabbitmq
        image: rabbitmq:3.12-management
        restart: always
        ports:
            - 25673:5672 
            - 25674:15672
            - 25675:25672
        networks:
            - pgo-net
        environment:
            RABBITMQ_DEFAULT_USER: pgo 
            RABBITMQ_DEFAULT_PASS: pgo
            RABBITMQ_DEFAULT_VHOST: pgo_vhost

    swagger:
        container_name: pgo-swagger
        image: swaggerapi/swagger-ui:v5.17.14
        restart: always
        ports:
            - 28080:8080
        volumes:
            - ./openapi.yaml:/openapi.yaml
        environment:
            SWAGGER_JSON: /openapi.yaml

    loki:
        container_name: pgo-loki
        image: grafana/loki:3.5.9
        restart: unless-stopped
        command: "-config.file=/etc/loki/loki.yaml"
        ports:
            - 23100:3100
        networks:
            - pgo-net
        volumes:
            - ./config/loki.yaml:/etc/loki/loki.yaml
            - ./loki/data:/data/loki

    promtail:
        container_name: pgo-promtail
        image: grafana/promtail:3.5.9
        restart: unless-stopped
        command: -config.file=/etc/promtail/promtail.yaml
        networks:
            - pgo-net
        volumes:
            - ./backend/logs:/opt/app_logs:ro
            - ./config/promtail.yaml:/etc/promtail/promtail.yaml

    grafana:
        container_name: pgo-grafana
        image: grafana/grafana:12.3
        restart: unless-stopped
        user: "0:0" # 以root用户运行，方便挂载卷写入数据
        ports:
            - "23000:3000"
        environment:
            # 初始管理员密码（首次登录后会要求修改）
            - GF_SECURITY_ADMIN_PASSWORD=admin
        volumes:
            # 持久化 Grafana 数据（仪表板、用户等）
            - ./grafana/data:/var/lib/grafana

networks:
    pgo-net:
